---
layout: default
title: e64.us | Personal Blog
category: personal
---
<hr/>
<div id="home">
  <ul class="posts">
  <table class="post-table">
	<tr>
	  <th>Date</th>
	  <th>Post Name</th>
	</tr>
	{% for category in site.categories %}
	{% if category[0] == 'personal' %}
	{% for post in category[1] %}
	<tr>
	  <td class="post-date">{{ post.date | date_to_string }}</span></td>
	  <td class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
	</tr>
	{% endfor %}
	{% endif %}
	{% endfor %}
  </table>
  </ul>
<hr/>
</div>
