@import "syntax";

$base-size: 1em;
$bg: #00304e;
$bg2: lighten($bg, 50%);
$bodybg: #eee;
$link: #338;

@media screen and (min-width: 900px) {
  $base-size: 1.5em;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: $bg;
  margin: ($base-size * 4) auto;
  max-width: 900px;
  font-family: Consolas,monaco,monospace;
}

hr {
  background-color: $bg2;
  height: ($base-size / 2) em;
  margin-top: $base-size * 2;
  margin-bottom: $base-size * 2;
}

div.site {
  border: ($base-size / 2) solid $bg2;
  background: $bodybg;
  padding-bottom: $base-size * 2;
  margin-bottom: $base-size * 4;
}

#home {
  text-align: center;
  margin: 0 auto;
}

table {
  max-width: 95%;
  align: center;
  margin: 0 auto;
  th {
    padding-bottom: $base-size;
  }
  td {
    padding-top: $base-size / 4;
    padding-bottom: $base-size / 4;
  }
}

.title {
  margin: $base-size / 2;
  font-size: $base-size * 4;
  color: white;
  :hover {
    color: $bg2;
  }
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  -webkit-font-smoothing: antialiased;
}

.header {
  text-align: center;
  font-size: $base-size;
  vertical-align: text-top;
}

p {
  font-size: $base-size;
  margin-bottom: $base-size;
}
li, ul {
  font-size: $base-size * 1.25;
}

a {
  color: $link;
  text-decoration: none;
}
h1 a {
  color: white;
}
a:hover {
  color: $bg2;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 1em;
}

.contact {
  text-align: center;
  a {
    font-size: $base-size * 2;
  }
}

div.post-title {
  h2 {
    font-size: $base-size * 2;
  }
  p.meta {
    margin-top: -1 * $base-size;
    font-size: 1.2 * $base-size;
    padding-bottom: $base-size;
  }
}

.post {
  p, h1, h2, h3 {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  hr {
    margin-top: 2em;
  }
}

audio {
  padding-left: 5%;
}

.footer {
  padding-top: 1em;
}

td.post-date {
  vertical-align: top;
  width: 25%;
  height: 1.5em;
}
td.post-title {
  vertical-align: top;
  width: 75%;
  height: 1.5em;
}
